################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/git/v15/ipch/AutoPCH/26a63f86130a77e0
/.vs/git/v15
/.vs
/WAPIWrapper/.vs/WAPIWrapper/v15
/WAPIWrapper/.vs
/WAPIWrapper/WAPIWrapperCPP/.vs/WAPIWrapperCPP/v15
/WAPIWrapper/WAPIWrapperCPP/.vs
/WAPIWrapper/WAPIWrapperCPP/Samples/WindQuantCppSample/.vs/WindQuantCppSample/v15/ipch
/WAPIWrapper/WAPIWrapperCPP/Samples/WindQuantCppSample/.vs/WindQuantCppSample/v15
/WAPIWrapper/WAPIWrapperCPP/Samples/WindQuantCppSample/WindQuantCppSample/Debug/WindQuan.D4D17BBF.tlog
/WAPIWrapper/WAPIWrapperCPP/Samples/WindTradeCppSample/.vs/WindTradeCppSample/v15
/WAPIWrapper/WAPIWrapperCPP/Samples/WindTradeCppSample/WindTradeCppSample/Debug/WindTrad.E7865B66.tlog
/WAPIWrapper/WAPIWrapperCPP/Samples/WindTradeCppSample/Debug
/WAPIWrapper/WAPIWrapperCPP/Samples/WindQuantCppSample/Debug
/WAPIWrapper/WAPIWrapperCPP/Samples/WindQuantCppSample/WindQuantCppSample/Debug
/WAPIWrapper/WAPIWrapperCSharp
/WAPIWrapper/WAPIWrapperCPP/Samples/WindTradeCppSample/WindTradeCppSample/Debug
